<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="{{ STATIC_URL }}bootstrap-3.3.7-dist/css/bootstrap.min.css">

    <!--<link href="{{ STATIC_URL }}css/ol.css" rel="stylesheet">-->
    <link href="{{ STATIC_URL }}css/ol.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/main.css">

</head>

<body>

<div class="container-fluid">
    <h1 class="page-header" style="height: 85px;margin-top: 20px">
        <div class="col-md-2">
            <img src="{{ STATIC_URL }}images/logo.jpg" style="width: 128px;height: 80px">
        </div>
        <div class="col-md-10"><h1 style="color: #0a9a1a;font-weight: bold;float: left">生物多样性在线计算</h1></div>
    </h1>
</div>
{#<div class="head">#}
{#    <div class="logo">#}
{#        <img src="{{ STATIC_URL }}images/logo.jpg">#}
{#    </div>#}
{#    <h1>生物多样性在线计算</h1>#}
{#</div>#}
<div class="container-fluid">
    <div class="content">
        <div class="row">
            <h2>指数介绍</h2>
            {#            <h2>采样数据预处理</h2>#}
            <ul class="left">
                <li>物种丰富度：<label>物种丰富度指数反映一定空间内生物的物种丰富程度，是描述物种多样性最简单、最实用和最客观的测度。</label></li>
                <li>Simpson优势度指数：<label>强调稀有物种的重要性，用于描述个体在群落中出现的紊乱和不确定。</label></li>
                <li>Shannon-Wiener多样性指数：<label>强调常见物种的重要性，反映优势物种在群落中的地位和作用。</label></li>
            </ul>


            <div class="right">
                <div class="top">
                    <form class="form-horizontal" method="post" enctype="multipart/form-data" id="datafile-form">
                        <label for="data-file" class="upload-btn">上传物种采样数据</label>
                        <input id="data-file" style="display: none" type="file" name="datafile">
                        <button type="button" style="display: none" class="btn btn-success" id="file-upload-submit">上传
                        </button>
                    </form>
                </div>

                <div class="show_form" style="height: 250px; width:auto; overflow: scroll; display:none">
                    <table id="table_data" class="table table-bordered" ></table>
                </div>

            </div>
        </div>


        <div class="row" id="show_data" hidden>

            <div class="desc">
                <input class="tt" id="species-col" type="text" name="species" placeholder="输入物种类别所在列号">
                <input class="tt" id="long-col" type="text" name="longitude" placeholder="输入经度所在列号">
                <input class="tt" id="lat-col" type="text" name="latitude" placeholder="输入纬度所在列号">
                <button type="button" class="btn btn-success" id="params_submit">确认</button>
            </div>


            <h2>数据显示</h2>


            <nav>
                <div class="nav nav-tabs nav-justified" id="nav-tab" role="tablist">
{#                    <a class="nav-item nav-link active" id="nav-table-tab" data-toggle="tab" href="#nav-table"#}
{#                       role="tab"#}
{#                       aria-controls="nav-table" aria-selected="true">上传数据表格</a>#}
{##}
{#                    <a>|</a>#}

                    <a class="nav-item nav-link" id="nav-map-tab" data-toggle="tab" href="#nav-map" role="tab"
                       aria-controls="nav-map" aria-selected="false">采样点空间分布</a>

                    <a>|</a>

                    <a class="nav-item nav-link" id="nav-chart-tab" data-toggle="tab" href="#nav-chart" role="tab"
                       aria-controls="nav-chart" aria-selected="false">物种统计图</a>
                </div>
            </nav>

            <div class="tab-content" id="nav-tabContent">
{#                <div class="tab-pane fade show active" id="nav-table" role="tabpanel" aria-labelledby="nav-table-tab">#}
{#                    show#}
{#                    data#}
{#                    uploaded#}
{#                </div>#}
                <div class="tab-pane fade active in" id="nav-map" role="tabpanel" aria-labelledby="nav-map-tab">
                    <div id="map" style="width:100%; height:500px"></div>
                </div>

                <div class="tab-pane fade" id="nav-chart" role="tabpanel" aria-labelledby="nav-chart-tab">
                    <div id="species_chart" style="width:100%; height:500px"></div>
                </div>
            </div>

            <div id="sample_table"></div>
            <script type="text/javascript">


            </script>


{#            <div id="map" style="width:1000px; height:500px"></div>#}
{#            <script>#}
{##}
{#            </script>#}

            <!--preparing a DOM with width and height for ECharts-->
{#            <div id="echarts"></div>#}
{#            <script type="text/javascript">#}
{##}
{#            </script>#}

        </div>


        <div class="row">

            <h2>多样性指数计算</h2>

            <div>
                <button class="button" id="bioindexCompute">计算生物多样性指数</button>
            </div>
            <br>
            <p id="results"></p>

        </div>

    </div>
</div>


<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.cookie.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.form.js"></script>
{#<script src="{{ STATIC_URL }}js/jquery-3.3.1.slim.min.js"></script>#}
<script src="{{ STATIC_URL }}js/popper.min.js"></script>
<script src="{{ STATIC_URL }}bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/ol.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/csv2geojson.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/stations.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/echarts.simple.min.js"></script>

<script>
  // {% include "index.js" %}
</script>
</body>
</html>
