<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="{{ STATIC_URL }}bootstrap-3.3.7-dist/css/bootstrap.min.css">

    <!--<link href="{{ STATIC_URL }}css/ol.css" rel="stylesheet">-->
    <link href="{{ STATIC_URL }}css/ol.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/main.css">

</head>

<body>

<div class="container-fluid">
    <h1 class="page-header" style="height: 85px;margin-top: 20px">
        <div class="col-md-2">
            <img src="{{ STATIC_URL }}images/logo.jpg" style="width: 128px;height: 80px">
        </div>
        <div class="col-md-10"><h1 style="color: #0a9a1a;font-weight: bold;float: left">生物多样性在线计算</h1></div>
    </h1>
</div>
{#<div class="head">#}
{#    <div class="logo">#}
{#        <img src="{{ STATIC_URL }}images/logo.jpg">#}
{#    </div>#}
{#    <h1>生物多样性在线计算</h1>#}
{#</div>#}
<div class="container-fluid">
    <div class="content">
        <div class="row">
            <h2>指数介绍</h2>
            {#            <h2>采样数据预处理</h2>#}
            <ul class="left">
                <li>物种丰富度：<label>物种丰富度指数反映一定空间内生物的物种丰富程度，是描述物种多样性最简单、最实用和最客观的测度。</label></li>
                <li>Simpson优势度指数：<label>强调稀有物种的重要性，用于描述个体在群落中出现的紊乱和不确定。</label></li>
                <li>Shannon-Wiener多样性指数：<label>强调常见物种的重要性，反映优势物种在群落中的地位和作用。</label></li>
            </ul>


            <div class="right">
                <div class="top">
                    <form class="form-horizontal" method="post" enctype="multipart/form-data" id="datafile-form">
                        <label for="data-file" class="upload-btn">上传物种采样数据</label>
                        <input id="data-file" style="display: none" type="file" name="datafile">
                        <button type="button" style="display: none" class="btn btn-success" id="file-upload-submit">上传
                        </button>
                    </form>
                </div>

                <div class="show_form">
                    <table id="table_data" class="table table-bordered"></table>
                </div>

            </div>
        </div>


        <div class="row" id="show_data" hidden>

            <div class="desc">
                <input class="tt" id="species-col" type="text" name="species" placeholder="输入物种类别所在列号">
                <input class="tt" id="long-col" type="text" name="longitude" placeholder="输入经度所在列号">
                <input class="tt" id="lat-col" type="text" name="latitude" placeholder="输入纬度所在列号">
                <button type="button" class="btn btn-success" id="params_submit">确认</button>
            </div>


            <h2>数据显示</h2>


            <nav>
                <div class="nav nav-tabs nav-justified" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link active" id="nav-table-tab" data-toggle="tab" href="#nav-table"
                       role="tab"
                       aria-controls="nav-table" aria-selected="true">上传数据表格</a>

                    <a>|</a>

                    <a class="nav-item nav-link" id="nav-map-tab" data-toggle="tab" href="#nav-map" role="tab"
                       aria-controls="nav-map" aria-selected="false">采样点空间分布</a>

                    <a>|</a>

                    <a class="nav-item nav-link" id="nav-chart-tab" data-toggle="tab" href="#nav-chart" role="tab"
                       aria-controls="nav-chart" aria-selected="false">物种统计图</a>
                </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-table" role="tabpanel" aria-labelledby="nav-table-tab">
                    show
                    data
                    uploaded
                </div>
                <div class="tab-pane fade" id="nav-map" role="tabpanel" aria-labelledby="nav-map-tab">show samples on
                    map
                </div>
                <div class="tab-pane fade" id="nav-chart" role="tabpanel" aria-labelledby="nav-chart-tab">add chart
                </div>
            </div>

            <div id="sample_table"></div>
            <script type="text/javascript">


            </script>


            <div id="map"></div>
            <script>

            </script>

            <!--preparing a DOM with width and height for ECharts-->
            <div id="echarts"></div>
            <script type="text/javascript">

            </script>

        </div>


        <div class="row">

            <h2>多样性指数计算</h2>

            <div>
                <button class="button" onClick="bioindexCompute()">计算生物多样性指数</button>
            </div>
            <br>
            <p id="results"></p>

        </div>

    </div>
</div>


<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.cookie.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.form.js"></script>
{#<script src="{{ STATIC_URL }}js/jquery-3.3.1.slim.min.js"></script>#}
<script src="{{ STATIC_URL }}js/popper.min.js"></script>
<script src="{{ STATIC_URL }}bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/ol.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/csv2geojson.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/stations.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/echarts.simple.min.js"></script>

<script>
    $(function () {
        $.ajaxSetup({
            beforeSend: function (xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    var csrftoken = $.cookie('csrftoken');
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });
        $("#file-upload-submit").click(function () {
            var formData = new FormData($("#datafile-form")[0]);
            $.ajax({
                type: "post",
                url: "/upload_data",
                data: formData,
                cache: false,
                processData: false,
                contentType: false,
                dataType: "json",
                success: function (data) {
                    console.log(data);
                    $('#table_data').empty();
                    var tr = $("<tr>")
                    for (var i = 0; i < data.length; i++) {
                        tr.append('<td>' + i + '</td>')
                    }
                    ;
                    $("#table_data").append(tr);
                    var tr = $("<tr>")
                    for (var i = 0; i < data.length; i++) {
                        tr.append('<td>' + data[i] + '</td>');
                    }
                    $("#table_data").append(tr);
                },
                error: function () {
                    alert('上传失败');
                }
            });
        });


        $("#params_submit").on('click',function () {
            $.ajax({
                type:'post',
                url:"/submit_cols_num",
                data:{"species-col":$("#species-col").val(),"long-col":$("#long-col").val(),"lat-col":$("#lat-col").val()},
                dataType:'json',
                success:function (sample_location) {
                    var GD_LAYER = new ol.layer.Tile({
                    name: "img",
                    source: new ol.source.XYZ({url: "https://webst0{1-4}.is.autonavi.com/appmaptile?style=6&x={x}&y={y}&z={z}"
                    // url: 'http://127.0.0.1:8051/appmaptile?layer=img,cva&x={x}&y={y}&z={z}&fmt=png'
                    })
                    });

                    var map = new ol.Map({
                        layers: [GD_LAYER, STATIONLAYER],
                        target: 'map',
                        view: new ol.View({
                            center: ol.proj.transform([107.6, 35.2], 'EPSG:4326', 'EPSG:3857'),
                            zoom: 4,
                            minZoom: 2
                        })
                    });
                },
                error:function(){
                    alert('指数计算数据所在列提交失败');
            }
            });
        });
        {#$('#datafile-form').ajaxForm({#}
        {#    url: "/upload_data",#}
        {#    success: function (data) {#}
        {#        //显示data#}
        {#        var list = data.split('\n');#}
        {#        alert(list[0]);#}
        {##}
        {#        //生成html table#}
        {#        var table = $('<table>');#}
        {#        var rowArr = data.split('\n');#}
        {#        var collen = rowArr[10].split(',').length;#}
        {##}
        {#        var firstrow = $('<tr>').css("background-color", "lightgrey");#}
        {#        for (var j = 0; j < collen; j++) {#}
        {#            var tcol = $('<td>').text(j);#}
        {#            firstrow.append(tcol);#}
        {#        }#}
        {#        table.append(firstrow)#}
        {##}
        {#        if (rowArr.length < 10) {#}
        {#            for (var i = 0; i < rowArr.length; i++) {#}
        {#                var trow = $('<tr>');#}
        {#                var colArr = rowArr[i].split(',');#}
        {#                for (var j = 0; j < colArr.length; j++) {#}
        {#                    var tcol = $('<td>').text(colArr[j]);#}
        {#                    trow.append(tcol);#}
        {#                }#}
        {#                table.append(trow);#}
        {#            }#}
        {#        } else {#}
        {#            for (var i = 0; i < 10; i++) {#}
        {#                var trow = $('<tr>');#}
        {#                var colArr = rowArr[i].split(',');#}
        {#                for (var j = 0; j < colArr.length; j++) {#}
        {#                    var tcol = $('<td>').text(colArr[j]);#}
        {#                    tcol.addClass('cell')#}
        {#                    trow.append(tcol);#}
        {#                }#}
        {#                table.append(trow);#}
        {#            }#}
        {#            var lastrow = $('<tr>');#}
        {#            for (var j = 0; j < collen; j++) {#}
        {#                var tcol = $('<td>').text('...');#}
        {#                lastrow.append(tcol);#}
        {#            }#}
        {#            table.append(lastrow)#}
        {#        }#}
        {##}
        {#        $('#table').append(table)#}
        {##}
        {##}
        {#    },#}
        {##}
        {#    error: function () {#}
        {#        alert("文件上传失败");#}
        {#    }#}
        {# });#}



        $("#data-file").on("change", function () {
            $("#file-upload-submit").trigger("click");
        });
    });

    function bioindexCompute() {
        $("#results").html("生物多样性指数计算结果如下： 物种丰富度: ; \n Simpson优势度指数： ；\n Shannon-Winner多样性指数: ;");
    }

    function csrfSafeMethod(method) {
// these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }


{#    var GD_LAYER = new ol.layer.Tile({#}
{#        name: "img",#}
{#        source: new ol.source.XYZ({#}
{#            url: "https://webst0{1-4}.is.autonavi.com/appmaptile?style=6&x={x}&y={y}&z={z}"#}
{#// url: 'http://127.0.0.1:8051/appmaptile?layer=img,cva&x={x}&y={y}&z={z}&fmt=png'#}
{#        })#}
{#    });#}
{##}
{#    var map = new ol.Map({#}
{#        layers: [GD_LAYER, STATIONLAYER],#}
{#        target: 'map',#}
{#        view: new ol.View({#}
{#            center: ol.proj.transform([107.6, 35.2], 'EPSG:4326', 'EPSG:3857'),#}
{#            zoom: 4,#}
{#            minZoom: 2#}
{#        })#}
{#    });#}


    // based on prepared DOM, initialize echarts instance
        var myChart = echarts.init(document.getElementById('echarts'));
        // specify chart configuration item and data
        var option = {
            title: {
                text: '菌类物种'
            },
            tooltip: {},
            legend: {
                data: ['数量']
            },
            xAxis: {
                data: ["常绿阔叶林", "阔叶林", "落叶阔叶林", "路边", "针阔混交林", "针叶林", "竹林和水杉混交"]
            },
            yAxis: {},
            series: [{
                name: '数量',
                type: 'bar',
                data: [39, 264, 133, 457, 43, 2]
            }]
        };

        // use configuration item and data specified to show chart
        myChart.setOption(option);



    function bioindexCompute() {
        $("#results").html("生物多样性指数计算结果如下： 物种丰富度: ; \n Simpson优势度指数： ；\n Shannon-Winner多样性指数: ;");
    }

    function csrfSafeMethod(method) {
// these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }


{#    var GD_LAYER = new ol.layer.Tile({#}
{#        name: "img",#}
{#        source: new ol.source.XYZ({#}
{#            url: "https://webst0{1-4}.is.autonavi.com/appmaptile?style=6&x={x}&y={y}&z={z}"#}
{#// url: 'http://127.0.0.1:8051/appmaptile?layer=img,cva&x={x}&y={y}&z={z}&fmt=png'#}
{#        })#}
{#    });#}
{##}
{#    var map = new ol.Map({#}
{#        layers: [GD_LAYER, STATIONLAYER],#}
{#        target: 'map',#}
{#        view: new ol.View({#}
{#            center: ol.proj.transform([107.6, 35.2], 'EPSG:4326', 'EPSG:3857'),#}
{#            zoom: 4,#}
{#            minZoom: 2#}
{#        })#}
{#    });#}

    $("#datafile-form").click(function () {

        $("#show_data").show();


    });

</script>
</body>
</html>
